.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}

.shower .title.slide h2 {
  font-style: italic;
  font-size: 3em;
  margin-bottom: 0;
}
.shower .title.slide h3 {
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.3;
}


/* Quotes */

blockquote > p {
  font-weight: bold;
  font-style: italic;
  color: var(--accent);
}
.slide:not(.full) > blockquote:first-child {
  padding-top: 120px;
}
.slide blockquote::before {
  margin: 55px 0 0 -140px;
}

#simplify-complexify blockquote p {
  font-size: 1.5em;
  line-height: 1.25;
}


/* Code */
.slide pre {
  margin-bottom: 38px;
}
.slide pre.scroll {
  max-height: 420px;
  overflow: scroll;
}


/* Images */
iframe.image {
  width: 100%;
  height: 420px;
}


/* Various */
.todo {
  background: red;
  color: white;
  font-weight: bold;
}

del {
  text-decoration: var(--accent) .08em line-through;
}
