.shower {
  --accent: #3a2d72;
  --dimmed: #737373;
}

.shower .caption h1 {
  line-height: 1.2;
}

.shower .title.slide h2 {
  font-size: 2.75em;
  margin-bottom: -0.15em;
  font-style: italic;
}
.shower .title.slide h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.33;
  color: var(--dimmed);
}


/* Quotes */

blockquote > p {
  font-weight: bold;
  font-style: italic;
  color: var(--accent);
}
.slide:not(.full) > blockquote:first-child {
  padding-top: 120px;
}
.slide blockquote::before {
  margin: 55px 0 0 -140px;
}

blockquote.large p {
  font-size: 1.5em;
  line-height: 1.25;
}


/* Code */
.slide pre {
  margin-bottom: 38px;
}
.slide pre.scroll {
  max-height: 420px;
  overflow: scroll;
}


/* Images */
iframe.image {
  width: 100%;
  height: 420px;
}
.slide figure.cover.width.margin > :first-child {
  width: 88%
}


/* Various */
.todo {
  background: red;
  color: white;
  font-weight: bold;
}

del {
  text-decoration: var(--accent) .08em line-through;
}

.slide.tight p {
  margin-bottom: 0px;
}

iframe.query-client, iframe.website {
  width: 100%;
  height: 462px;
}

span.formula {
  color: var(--accent);
  margin: 0 .25em;
}

.slide.formula p:first-child {
  font-size: 3em;
  text-align: center;
  margin: 2em 0 1.7em;
  color: var(--accent);
  font-weight: bold;
}

.text.slide {
  text-align: right;
}

.text.slide h2 {
  font-size: 2em;
  margin: 3em 0 2em;
  line-height: 1.3em;
}
